html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: darkslategrey;
}

.custom-link {
    color: white;
}

.custom-link:hover {
    color: yellow;
}

.fondo-texto-1 {
    background-image: url("/assets/img/1.png");
    background-position: center;
    background-size: cover;
    height: 200px;

}

.foto-01 {
    width: 200px;
    border-radius: 10rem;
    transition: opacity 0.3s ease;

}

.foto-01:hover {
    opacity: 0.9;
}

.foto-2 {
    width: 500px;

}

.texto-1 {
    text-align: justify;
}

footer {
    background-color: #263e3c;
}

.fondo-texto-2 {
    background-image: url("/assets/img/3.png");
    background-position: center;
    background-size: cover;
    height: 200px;
}

.card {
    width: 16rem;

}

.card-image-top {
    height: 300px;
}

#carouselExample {
    height: 300px;
}

blockquote p {
    font-size: 1.1rem;
}

.carrusel {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}